*.class

# Package Files #
*.jar
*.war
*.ear
*/target/*
/PA165_library bussines logic API/target/
/PA165-Library/PA165_library bussines logic API/target/
/PA165-Library/library-api/target/
/PA165-Library/library-impl/target/
/PA165-Library/library-web/target/
