<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
     
    
    

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:annotation-config />
    <context:component-scan base-package="cz.muni.fi.pa165.library" />
    
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
        <property name="url"
                value="jdbc:derby:target/database/message;create=true" />
        <property name="username" value="app" />
        <property name="password" value="app" />
    </bean>

    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="persistenceUnitName" value="LibraryPU"/>
        <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                        <property name="databasePlatform" value="org.hibernate.dialect.DerbyDialect" />
                </bean>
        </property>
        <property name="jpaProperties">
                <props>
                        <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                        <prop key="hibernate.show_sql">true</prop>
                        <prop key="hbm2ddl.auto">create-drop</prop>
                </props>
        </property>

    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <bean id="bookDao" class="cz.muni.fi.pa165.library.dao.BookDaoImpl"/>
    <bean id="customerDao" class="cz.muni.fi.pa165.library.dao.CustomerDaoImpl"/>
    <bean id="loanDao" class="cz.muni.fi.pa165.library.dao.LoanDaoImpl"/>
    <bean id="impressionDao" class="cz.muni.fi.pa165.library.dao.ImpressionDaoImpl"/>
    
    <bean id="bookService" class="cz.muni.fi.pa165.library.service.BookServiceImpl"/>
    <bean id="loanService" class="cz.muni.fi.pa165.library.service.LoanServiceImpl"/>
    <bean id="impressionService" class="cz.muni.fi.pa165.library.service.ImpressionServiceImpl"/>
    <bean id="customerService" class="cz.muni.fi.pa165.library.service.CustomerServiceImpl"/>
</beans>